body {
background-color: lightskyblue;
font-family:cursive;
}
.header_div {
font-family: 'Times New Roman', Times, serif;
background-color: white;
color: violet;
}
.header_div p{
    color: navy;
    font-size: 15px;
}
button{
    letter-spacing: 3px;
    margin-top: 30px;
    font-weight: bold;
}
.copyright_footer{
    position: fixed;
    color: lightslategrey;
    width: 100%;
    text-align: center;
    text-shadow: 3px 3px 3px silver;
    background-color: white;
    line-height: 4;
    bottom: 0;
    font-size: 15px;
}